.friendList {
  font-family: 'Open Sans', sans-serif;
  display: block;
  list-style: none;
  margin-top: 30px;
}

.list {
  display: flex;
  align-items: center;
}

.avatar {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
}

.isOnline {
  display: block;
  background-color: #008000;
  width: 15px;
  height: 15px;
  border-radius: 15px;
}

.online {
  composes: isOnline;
}

.offline {
  composes: isOnline;
  background-color: #ff0000;
}
